################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/长方形计算器2
/src/数据转换/bin/Debug
/src/数据转换/obj/Debug
/src/长方形计算器2/bin/Debug
/src/长方形计算器2/obj/Debug
/.vs
